# Build output
bin/
obj/

# Python
__pycache__/
*.pyc
.venv/
venv/

# User-specific files
.vs/
.vscode/
.idea/

# Logs
logs/
*.log

# Environment variables
.env
/proxy/Caddyfile
proxy/Caddyfile

# OS files
.DS_Store
Thumbs.db