# Ollama
OLLAMA_HOST=0.0.0.0
OLLAMA_PORT=11434
DEFAULT_MODEL=llama3.2:3b
OLLAMA_MEMORY_LIMIT=3g
OLLAMA_CPU_LIMIT=1.8
OLLAMA_VOLUME=ollama_data

# Log
LOG_LEVEL=info

# API
API_PORT=8000

# WEB
WEB_PORT=8080
WEB_API_URL=http://YOUR.PUBLIC.IP:8000/chat

# Ollama internal URL for API to call
OLLAMA_INTERNAL_URL=http://ollama:11434

# PostgreSQL
POSTGRES_DB=YOUR.DB.NAME
POSTGRES_USER=YOUR.DB.USER
POSTGRES_PASSWORD=YOUR.DB.PASSWORD

# API
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
SYSTEM_PROMPT= You are accurate AI assistant. You have full multilingual capabilities, including fluent Japanese (Kanji, Hiragana, Katakana)

