# Localhost
LOCAL_HOST=

# Ollama
OLLAMA_PORT=
DEFAULT_MODEL=
OLLAMA_MEMORY_LIMIT=
OLLAMA_CPU_LIMIT=
OLLAMA_VOLUME=
OLLAMA_NUM_PARALLEL=
OLLAMA_MAX_LOADED_MODELS=
OLLAMA_NUM_THREADS=
OLLAMA_INTERNAL_URL=

# Log
LOG_LEVEL=

# WEB
WEB_PORT=
WEB_API_URL=
DOMAIN_NAME=

# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# API
API_PORT=8000
DATABASE_URL=
SYSTEM_PROMPT= 
HISTORY_LIMIT=

# CERBOT
DOMAIN=
DOMAIN_HTTPS=
EMAIL=