{$DOMAIN_NAME} {
    handle /api/* {
        # Strip '/api' from the request path before forwarding to the backend
        uri strip_prefix /api
        reverse_proxy api:8000
    }

    handle {
        reverse_proxy frontend:80
    }
}